@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --dashboard-side-padding: 250px;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}

/* FONT  */
/* Regular */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Regular Italic */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* Black Italic */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* Semibold */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* Semibold Italic */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

/* Thin */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

/* Thin Italic */
@font-face {
  font-family: "DegularDisplay";
  src: url("./assets/fonts/DegularDisplay-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "DegularDisplay", sans-serif;
  letter-spacing: 0.4px;
  color: #131316;
}

.nav-shadow {
  box-shadow: 0px 2px 4px 0px rgba(45, 59, 67, 0.05);
}

.popup-shadow {
  box-shadow: 0px 6px 12px 0px rgba(92, 115, 131, 0.08);
}

.trans {
  transition: all 0.3s ease-in-out;
}

.profile-gradient {
  background: linear-gradient(135deg, #131316 0%, #5c6670 100%);
}
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* @layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
} */

.filter-box {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: end;
  transform: translateX(100%);
  .filter-content-box {
    height: calc(100vh - 32px);
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 4px rgba(188, 196, 204, 0.1);
  }
}

.filter-box.active {
  transform: translate(0);
}
